
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

/* shared style */


/* navber style */
.header{
    background-color: rgba(255, 144, 14, 0.1); 
}
.navber{
    max-width: 67.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    margin-bottom: 6rem;
}
.nav-menu{
    display: flex;  
    gap: 3rem;
}
.nav-item{
    list-style: none;
}
.nav-links{
    text-decoration: none;
    font-size: 0.84rem;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
}
.Brand-logo{
    font-size: 2.10rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}

/* banner section style */

.banner-content{
    max-width: 40.40rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;

}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 1.5rem;
}

.banner-description{
    font-size: 0.75rem ;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 2rem;
}
.btn-primary{
    font-size: 0.93rem;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero-banner{
    max-width: 67.5rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.banner-img{
    width: 100%;
}

/* main section style */
main, footer{
    max-width: 67.5rem;
    margin: 0 auto;
    margin-top: 85px;
}
.team-section{
    
    display: flex;
    align-items: center;
    gap: 4rem;

}
.team-content{
    width: 25.17rem;
}
.team-content > p{
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    margin: 24px 0 32px 0;
    text-align: justify;
}
.team-img{
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
  
}
.img-div{
    width: 16rem;
    border-radius: 8px;
 
}
.img-div > img{
    width: 100%;
}

.feature{
    font-size: 2.10rem ;
}
.Quick{
    color: rgba(114, 114, 114, 1);
}
.of{
    color: rgba(19, 19, 19, 1);
}
.feat{
    color: #FF900E;
}
/* our feature style */
.feature-section{
    margin-top: 6.09rem;
    display: flex;
    gap: 6.84rem;
}
.feature-content{
    max-width: 27.46rem;
}
#feature-border{
    border-left: 5px solid #FF900E;
    padding-left: 1.07rem;
}
.feature-title{
    font-size: 2.10rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 20px;
}
.feature-description{
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}
.feature-box{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 15px;
}
.feature-box > h5{
    font-size: 15px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}
.feature-box > p{
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}
/* feature section style */
.fect-title{
    margin-top: 130px;
    font-size: 2.10rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.fect-description{
    width: 25.17rem;
    margin-top: 24px;
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 1.40rem;
}

.fect-card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4.68rem;
}
.fect-card{
    width: 180px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fect-card > div{
    padding: 40px;
}
.fect-number{
    font-size: 2.10rem;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
    margin-top: 10px;
}
.fect-paragraph{
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    margin-top: 5px;
}
.feature-img{
    max-width: 33.18rem;
}
.feature-img > img{
    width: 100%;
}
.big{
    font-size: 3.04rem;
    font-weight: 700;
}
.small{
    font-size: 1.17rem;
    font-weight: 500;
}
#btn-position{
    margin-left: -4.31rem;
    margin-top: -5.6rem;
}
/* sponsor stylish */
.sponsor-text{
    display: flex;
    justify-content: center;
    margin-bottom: 2.34rem ;
}
.sponsor-container{
    max-width: 25.40rem;
    text-align: center;
    margin-top: 8.43rem;
}
.sponsor-container > h1{
    font-size: 2.10;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 1.12rem;
}
.sponsor-container > p{
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}
.sponsor-img{
    
    display: grid;
    grid-template-columns:repeat(5,1fr);
    align-items: center;
    gap: 7.26rem;
}
.sponsor-img > div{
    max-width: 7.78rem;
}
.sponsor-img > div > img{
    width: 100%;
    filter: grayscale(100%);
}
/* footer section style  */
.footer-section{
    margin-top:6.09rem;
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 100px;
}
.footer-copy{
    text-align: center;

}
.footer-copy p{
    font-size: 15px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
    padding-top: 2rem;
    padding-bottom: 2rem;
}